@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Jost", sans-serif;
  background-color: #d396ff13;
}

.snackbar-global {
  position: absolute;
  bottom: 0;
  right: 0;
  width: max-content;
  max-width: max-content !important;
  color: #ffffff;

  &.background-red {
    background-color: #f55d5d;
  }
  &.background-green {
    background-color: #3abf94;
  }
  &.background-yellow {
    background-color: #ffc247;
  }
  &.background-purple {
    background-color: rgb(79 70 229);
  }
}
